#mainDiv
  #boxDiv.a-flip
    #box-front
      %img(src="https://s3.amazonaws.com/shipspec/icon-front.png")
    #box-back
      #camera-emotions{ :style => "position: absolute; top: 0; padding-top:5px;" }
        #emotion-box{:style => "display: flex; justify-content: space-between; padding:20px; height:100px;"}   
          = link_to registration_path(resource_name), data: { confirm: "Delete Account! :-( so sad to see you go..." }, method: :delete do
            %i.far.fa-frown.fa-4x
          = link_to destroy_user_session_path, :method=>:delete, data: { confirm: "Signing Out? Cool, squeeze ya later!" } do
            %i.fas.fa-sign-out-alt.fa-4x
          = link_to "#happy" do
            %i.far.fa-smile.fa-4x
      %img(src="https://s3.amazonaws.com/shipspec/icon-back.png")
      #camera-loggin-buttons{ :style => "position: absolute; top: 150px; height:110px; background-color:white; padding-top:5px; " }
        =link_to user_facebook_omniauth_authorize_path do
          %span.fa-7x.fa-layers.fa-fw
            %i.fab.fa-facebook-square
            %i.fas.fa-sync-alt.fa-inverse{:style => "color: white", "data-fa-transform" => "shrink-13 up-3 left-4"}

        =link_to "#email_settings" do
          %span.fa-7x.fa-layers.fa-fw
            %i.fas.fa-envelope
            %i.fas.fa-cog.fa-inverse{:style => "color: white", "data-fa-transform" => "shrink-13 up-3 left-4"}


    #box-left
      %img(src="https://s3.amazonaws.com/shipspec/icon-left.png")
    #box-right
      %img(src="https://s3.amazonaws.com/shipspec/icon-right.png")
    #box-top
    #box-bottom

= render 'account_modals'

//= render 'old-reg'    