.clock{ :style => "position: absolute; top: 45px; height:300px; padding-top:5px;" }
  =image_tag "https://s3.amazonaws.com/shipspec/1200.png", alt: '12:00', class: "clock-1200"
  / .clock-1200
  /   =image_tag "https://s3.amazonaws.com/shipspec/1230.png", alt: '12:30'
