#mainDiv
  #boxDiv.a-flip-left
    #box-front
      %img(src="https://s3.amazonaws.com/shipspec/icon-front.png")
    #box-back
      %img(src="https://s3.amazonaws.com/shipspec/icon-back.png")
    #box-left
      %img(src="https://s3.amazonaws.com/shipspec/icon-left.png")
      #camera-loggin-buttons{ :style => "position: absolute; top: 150px; height:110px; background-color:white; padding-top:5px;" }
        - @spins.each do |spin|
          %div.spin-holder{:class => "spin#{spin.id}"}
            =image_tag spin.shot1:thumb
            = link_to edit_spin_path(spin), class: "btn btn" do
              %i.glyphicon.glyphicon-pencil
            = link_to spin_path(spin), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn" do
              %i.glyphicon.glyphicon-remove
        %i.fas.fa-camera-retro.fa-7x
        
    #box-right
      %img(src="https://s3.amazonaws.com/shipspec/icon-right.png")
    #box-top
    #box-bottom