#mainDiv
  #boxDiv.a-spin
    #box-front
      %img(src="https://s3.amazonaws.com/shipspec/icon-back.png")
    #box-back
      %img(src="https://s3.amazonaws.com/shipspec/icon-front.png")
    #box-left
      %img(src="https://s3.amazonaws.com/shipspec/icon-right.png")
    #box-right
      %img(src="https://s3.amazonaws.com/shipspec/icon-left.png")
    #box-top
    #box-bottom