
#new-spin-form{ :style => "position: absolute; top: 150px; height:110px; background-color:white; padding-top:5px;" }
  = simple_form_for @spin do |form|
    = form.input :shot1, as: :file, label: '12:00'
    #submit-button{ :style => "position: absolute; top: 150px; height:110px;" }
      = form.button :submit