=image_tag @spin.shot1
- if user_signed_in?
  - if @spin.user_id == current_user.id
    = link_to "Edit", edit_spin_path(@spin)
    = link_to "Delete", spin_path(@spin), method: :delete, data: { confirm: "Delete Spin?" }

