.container{:style => "margin-top:10em;"}
  =image_tag @shot.example(:large)
  .page-header
    %h1 
      =@shot_setup.name
    %h2
      = @shot_setup.angle
    %h3
      =@shot_setup.hints
    = link_to shot_setups_path, :class => 'btn btn-default' do
      %span.glyphicon.glyphicon-list-alt
      Back
    = link_to edit_shot_setup_path(@shot_setup), :class => 'btn btn-primary' do
      %span.glyphicon.glyphicon-pencil
      Edit

  %dl.dl-horizontal
 


