$slideup-navbar-height: $navbar-height !default;

header.slideup {
  position: static;

  height: $slideup-navbar-height;

  .navbar {
    border:none;
    

    .navbar-brand {
      transition: all .2s;
      transition-timing-function: ease-out;


      text-transform: uppercase;
    }

    li > a {
      transition: all .2s;
      transition-timing-function: ease-out;
      @media (max-width: $screen-xs-max) {
        background-color: red;
      }
      font-size: 10px;
      text-transform: uppercase;
      

    }
  }

  &.affix-top {
    .navbar {
      height: $slideup-navbar-height;
      @include box-shadow( none );
    }
    .navbar-brand {
      padding:  (($slideup-navbar-height - 20)/2) 15px;

    }

    .navbar-toggle {
      margin-top: (($slideup-navbar-height - 20)/2);
    }

    li > a {
      padding-top: (($slideup-navbar-height - 20)/2);
      padding-bottom: (($slideup-navbar-height - 20)/2);
      font-size: 12px;
      
    }
  }
}