// The organization of this CSS is heavily inspired by GitHub's CSS
// stylesheet guidelines.
//
//   See: https://github.com/styleguide/css
//   See also: https://medium.com/@fat/mediums-css-is-actually-pretty-fucking-good-b8e2a6c78b06
//
// See Bootstrap's CSS at:
//   https://github.com/twbs/bootstrap-sass/tree/master/assets/stylesheets/bootstrap
// or
//   $ bundle show bootstrap-sass
//


// These both need to be imported before bootstrap:
@import 'globals/fonts';
@import 'globals/variables';


// --------------Bootstrap-----------------------------
@import 'bootstrap-sprockets';
@import 'bootstrap';

// Uncomment if you want to use the default bootstrap theme
// @import 'bootstrap/theme';


// --------------Global definitions--------------------
// For example (add your own!!):
@import 'globals/mixins';


// --------------Shared styles-------------------------
// Common base CSS modifications. For example:
@import 'shared/buttons';
@import 'shared/grid';


// --------------Components----------------------------
// Create your own and modify/extend Bootstrap's. For example:
//@import 'components/panel';
//@import 'components/profile_panels';


// --------------Sections------------------------------
// Page-specific styles. These should *only* be used as a last
// resort if you really truly can't style your content more generally.
// @import 'sections/profile_page';

.navbar-default {
	background-color:transparent;

}
.navbar-default .navbar-brand {
    color: white;
}
.cover {
  height: 100vh;
  width: 100vw;
  background-color:red;
  overflow:hidden;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.affix-top .navbar {
  background: transparent;
}
#flash-area {
  top:15em;
  position:absolute;
  width:100%;
  z-index:1000;
}


.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

////--------Spinner

.carousel-item {
  position: relative;
  display: none;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  transition: -webkit-transform 0.01s ease;
  transition: transform 0.01s ease;
  transition: transform 0.01s ease, -webkit-transform 0.01s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 80%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

