/ = navbar position: :static do
/   = vertical do
/     = link_to root_path do
/       SHIPSPEC | PROTECT
/   = horizontal do
/     = nav class: 'navbar-right' do
/       = render partial: "application/account_dropdown"

%header.slideup.affix-top{ data: { spy: "affix", "offset-top": 10 } }
  = navbar id: "navbar", fluid: true, position: :top, padding: 0 do
    = vertical do
      = link_to root_path do
        SHIPSPEC | PROTECT